body { 
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; 
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 5em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.disabled {
    pointer-events: none;
    cursor: default;
}